@import url(../fonts/montserrat/stylesheet.css);

/* General styling */

body {padding-top: 60px; background: #F5F5F5;} /*Fixed NavBar content spacing*/

body, h1, h2, h3, h4, h5, p, li {font-family: 'montserratlight', sans-serif;}
a {color: #FF0364;}
a:hover, a:focus{color: #FF0364;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #FF0364;
  border-color: #FF0364;
}

h1 {border-left: 1px solid #FF0364; padding-left: 5px; font-family: 'montserrathairline', sans-serif; font-size: 20px;}

/* Navbar styling */

.navbar-brand {padding: 5px 15px;}
.navbar-nav > li > a {padding-top:20px !important; padding-bottom:20px !important;}
.navbar {min-height:60px !important; background: #002D3C; font-size: 12px; border: none;}
ul.nav.navbar-nav li a:link, ul.nav.navbar-nav li a:visited {color: #FFF; text-transform: uppercase;}
ul.nav.navbar-nav li a:hover {background: #FF0364;}
.homeicon {
  -webkit-border-radius: 20px !important;
     -moz-border-radius: 20px !important;
          border-radius: 20px !important;
  background: #FF0364;
  padding: 10px 20px;
  margin: 0;
}

/* Homepage thumbnails */
.homepage-container {
	padding-right: 0;
}
.thumbnail {
  border: none;
  border-radius: 0;
/* Lord of thumbnail's shadows */
  -webkit-box-shadow: 0px 0px 10px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(184,184,184,1);
  box-shadow: 0px 0px 10px 0px rgba(184,184,184,1);
}
.thumbnail .caption {
  padding: 0;
}
/* Gradient test */
.th_test {
  background: -moz-linear-gradient(top, rgba(29,29,27,0) 0%, rgba(0,45,60,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,60,1)), color-stop(100%,rgba(29,29,27,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61D1D1B', endColorstr='#00002D3C',GradientType=0 ); /* IE6-9 */
}

.th_test img {
  position:relative;
  z-index:-1;
  display:block;
}

/* Homepage widget News */

.blck-news {
  background: #fff;
}

.list-bbq {
  padding: 10px 0px 5px 10px;
  background: #fff;
}
.list-bbq li {
  border-left: 1px solid #FF0364;
  font-family: 'montserratlight', sans-serif;
  font-size: 11px;
  list-style: none; 
  margin-bottom: 10px;
  padding-left: 5px;	
}
.list-bbq li span {
  font-family: 'montserrathairline', sans-serif;
}

/* Homepage PXLBBQTV */

#pan-pxtv {
  background: url(../img/bg_pxtv.jpg);
  margin: 0 0 0 -15px;
  padding-left: 25px;
}

#pan-pxtv h1 {
	color: #fff;
	height: 50px;
}

.logo-pxtv {
	vertical-align: -15px;
}

#twitch {
	margin: 15px 0;
	height: 50px;
}

/* Emplacement communautaire */

#commu {
	background: #fff;
	height: 335px;
	margin-bottom: 25px;
	padding-top: 150px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(184,184,184,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(184,184,184,1);
	box-shadow: 0px 0px 10px 0px rgba(184,184,184,1);
}

/* FOOTER (de gueules) */
#footer {
	background: #002D3C;
	height: 90px;
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-left: 300px;
}

/* Breadcrumb + nav-pills */

.breadcrumb {border-left: 3px solid #FF0364; padding: 0 0 0 5px; border-radius: 0; margin-top:12px}

.nav-pills.meta-info>li+li {border-left: 1px solid #868686;}
.nav-pills.meta-info>li>a {color: #868686;}
.nav-pills.meta-info>li>a:hover,.nav-pills.meta-info>li>a:active,.nav-pills.meta-info>li>a:focus {color: #FF0364;background:none;}
 
/* CUSTOM CLASSES */
.homerow {margin: 0 10px;}

#showMenu, #showMenu2 {
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

#showMenu.active, #showMenu2.active {
  background: #FF0364;
  color: white;
}
#showSearch {
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
#showSearch.active {
  background: #FF0364;
  color: white;
}
.col-fixed-300.down-little > div{
  margin-top: 362px;
}
.col-fixed-300.down-big > div{
  margin-top: 662px;
}
.col-fixed-300 > div{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.big-left-sliding-box {
  background: #002D3C;
  border-bottom: 2px dashed #FF0364;
  padding-top: 60px;
  position: fixed;
  top: -364px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 300px;
  z-index: 1000;
}

#big-left-menu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  padding: 1em;
}

#big-left-menu a:hover {
  background: #FF0364;
}
#big-left-menu a:hover,
#big-left-menu a:visited,
#big-left-menu a:link,
#big-left-menu a:active {
  text-decoration: none;
}

.big-left-sliding-box.open {
  top: 0px;
}

@media screen and (max-height: 26.375em){
  .big-left-sliding-box {
    font-size: 90%;
    width: 190px;
  }

  .big-left-sliding-box {
    left: -190px;
  }
}

/* BigLeft General */
.col-fixed-300 {
  background: #002D3C;
  bottom:0;
  color: white;
  left:0;
  position: fixed;
  top:60px;
  width: 300px;
  z-index: 1;
}
.col-offset-300 {
  padding-left: 315px;
}

/* Content General */
.content {
  margin-top: 20px;
}
.content p:first-child:first-letter {
  color: #FF0364;
  float: left;
  font-family: 'montserratbold', sans-serif;
  font-size: 4.3em;
  font-weight: bold;
  line-height: 1em;
  margin-right:0.1em;
  text-indent:0;
}
.content img {
  display:block;
  margin:10px auto;
  max-width:100%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #FF0364;
}

/* BigLeft Page Dossier */
.col-image-cover {
  background: #002D3C;
  overflow: hidden;
}
.col-image-content {
  height: 100%;
  padding: 15px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.image-cover-gradient {
  background: -moz-linear-gradient(top,  rgba(0,45,60,1) 0%, rgba(29,29,27,0) 30%, rgba(29,29,27,0) 60%, rgba(0,45,60,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,60,1)), color-stop(30%,rgba(29,29,27,0)), color-stop(60%,rgba(29,29,27,0)), color-stop(100%,rgba(0,45,60,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,45,60,1) 0%,rgba(29,29,27,0) 30%,rgba(29,29,27,0) 60%,rgba(0,45,60,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,45,60,1) 0%,rgba(29,29,27,0) 30%,rgba(29,29,27,0) 60%,rgba(0,45,60,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,45,60,1) 0%,rgba(29,29,27,0) 30%,rgba(29,29,27,0) 60%,rgba(0,45,60,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,45,60,1) 0%,rgba(29,29,27,0) 30%,rgba(29,29,27,0) 60%,rgba(0,45,60,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d3c', endColorstr='#002d3c',GradientType=0 ); /* IE6-9 */
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-cover-left {
  left: -9999px;
  margin: auto;
  max-height: 100%;
  position: absolute;
  right: -9999px;
  z-index: -2;
}
.cat-link-plain {
  background: #FF0364;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}
.cat-link-plain:visited,
.cat-link-plain:focus,
.cat-link-plain:active{
  color: white;
  text-decoration: none;
}
.cat-link-plain:hover {
  color: white;
  text-decoration: underline;
}
.game-info {
  position:absolute;
  bottom:0;
}

/* BigLeft Page News */
.col-news-content {
  background: rgb(236,236,236); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(236,236,236,1) 1%, rgba(236,236,236,1) 90%, rgba(219,219,219,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(236,236,236,1)), color-stop(90%,rgba(236,236,236,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(236,236,236,1) 1%,rgba(236,236,236,1) 90%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(236,236,236,1) 1%,rgba(236,236,236,1) 90%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(236,236,236,1) 1%,rgba(236,236,236,1) 90%,rgba(219,219,219,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(236,236,236,1) 1%,rgba(236,236,236,1) 90%,rgba(219,219,219,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 */
  height: 100%;
  position: relative;
  z-index: -10;
}
.col-top-title {
  background-color: #FF0364;
  float: left;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
}
.col-top-title-after {
  border-color: transparent transparent transparent #FF0364;
  border-style: solid;
  border-width: 0px 0 30px 20px;
  float: left;
  height: 0;
  width: 0;
}
.col-top-title-before {
  border-color: transparent #FF0364 transparent transparent;
  border-style: solid;
  border-width: 0px 20px 30px 0;
  float: left;
  height: 0;
  width: 0;
}
.tab-nav {
  margin: 15px 20px 0;
}
.tab-nav > li > a {
  border-radius: 0;
  border: 2px solid #FF0364;
  color: #FF0364;
  margin: 0 1px;
  padding: 2px 4px;
}
.tab-content {
  margin: 15px 20px;
}
.tab-content a {
  position: absolute;
  bottom: 15px;
  width: 260px;
}
.thumbed-link {
  background: -moz-linear-gradient(top, rgba(29,29,27,0) 0%, rgba(0,45,60,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,60,1)), color-stop(100%,rgba(29,29,27,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61D1D1B', endColorstr='#00002D3C',GradientType=0 ); /* IE6-9 */
  height: 90px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  width: 260px;
}
.thumbed-link img {
  bottom: -9999px;
  margin: auto;
  max-width: 100%;
  position: absolute;
  top: -9999px;
  z-index: -2;
}
.thumbed-link .text {
  bottom: 0;
  color: white;
  margin: 15px;
  position: absolute;
}

/* Page News */
.news-title-top {
  background: -moz-linear-gradient(top, rgba(29,29,27,0) 0%, rgba(0,45,60,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,60,1)), color-stop(100%,rgba(29,29,27,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(29,29,27,0) 0%,rgba(0,45,60,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61D1D1B', endColorstr='#00002D3C',GradientType=0 ); /* IE6-9 */
  height: 450px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.news-title-top img {
  bottom: -9999px;
  margin: auto;
  max-width: 100%;
  position: absolute;
  top: -9999px;
  z-index: -2;
}
.news-title-text {
  bottom: 0;
  color: white;
  margin: 15px;
  position: absolute;
}

/* BigLeft Page Catégorie */
.cat-col {
  background: url('../img/background-pxl-category.jpg');
  height: 100%;
}
.filtre-categorie {
  color: #FF0364;
  font-family: 'montserratbold', sans-serif;
  font-size: 1.4em;
}
.filtres a {
  background: #FF0364;
  color: #FFF;
  padding: 2px 5px;
  line-height: 2em;
}

/* Page Catégorie */
.card-box {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border-bottom: 9px solid #dad8da;
  margin: 15px 0;
}
.card-box .slider-content {
  background: #F6F4F6;
  position: absolute;
  top: 0;
  height: 300px;
  padding: 8px;
  margin-top: 75%;
  transition: 1s;
}
.card-box.active   .slider-content,
.card-box:hover  .slider-content{
  margin-top: 15%;
}
.slider-content h2 {
  font-size: 1.1em;
  margin: 0;
}
.slider-content .accroche {
  font-size: .9em;
  margin-bottom: 20px;
}
.slider-content .teaser {
  font-size: .9em;
}
.freeze-button {
  position: absolute;
  top: 0;
  right: 15px;
  margin-top: 70%;
  cursor: pointer;
}

.caption h2 {
  font-size: 1.2em;
  margin: 0;
}

.thumbnail:hover .caption {
  top: 15px;
}
.thumbnail {
  position: relative;
  overflow: hidden;
}
.thumbnail .caption {
  position: absolute;
  top: 80%;
  transition: 1s;
  color: #FFF;
  padding: 5px;
}
.thumbnail .teaser {
  margin-top: 10px;
}
.th_test {
  background: -moz-linear-gradient(top, rgba(29,29,27,0) 0%, rgba(0,45,60,0.75) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,45,60,0.75)), color-stop(50%,rgba(29,29,27,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,0.75) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,0.75) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(29,29,27,0) 0%,rgba(0,45,60,0.75) 50%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(29,29,27,0) 0%,rgba(0,45,60,0.75) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61D1D1B', endColorstr='#00002D3C',GradientType=0 ); /* IE6-9 */
}
.th_test:hover {
  background-position: 0 100%;
}
.th_test {
  transition: 1s;
  background-size: auto 200%;
  background-position: 0 0;
}